venv/
flask/
.vscode/
__pycache__/
app/__pycache__/
node_modules/
psw.py
nmtp-mechanisms.db
post.txt
debug.json
hash.log
get.log
get.json
/middleware/get.json
get_all_last_data_state
kran_20*
usm_20*
sennebogen_20*
middleware/*.xlsx
*.xlsx
*.xlsx
*.json
*.pyc 
*.zip 
New*
