body  {
	background-color: #cecece;
	height: 3000px;

}   
h1 {
    font-size: 30px;
		color: #33aa99;}	
	#first {color: #994433;}	

h2 {
color: #228844;}

p.my {
    color: #3344cc;
    background-color: #fafafa;
}	
h3.my {
color: #a3a4ac;
}	

p u {color: #ff22ff;}
p.example,b {background-color: #acacac;
			font-weight: bold;}

span {
    padding: 10px;
}
.myhref {
	color: #940000;
	background-color: #eeebcc;
}
.myhref:hover {
 
	color: #347145;
	background-color: #23a2d3;
}
#textBlock {
    border: 1px inset #762312;
    /* height: 20px; */
    /* width: 500px; */
    position: relative;
    /* z-index: 0; */
	background-color: #99ebcc;
	margin: 10px 10px;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 1px 1px 3px black;
}

.myurl {
display: block;
/* display: inline; */
/* display: list-item; */
height: 30px;
width: 100px;
/* border: 1px solid #313131; */
/* overflow: hidden; */
/* overflow: auto; */
}
a {
    color: #ce3485;
    background-color: #000000;
}
/* .href:hover { */
/*     background: #2244cc; */
/* } */
a:hover {
    color: #120000;
    background-color: #ce3485;
}
a:active {
    color: #121212;
    background-color: #cea4a5;
}
p:hover {
    background: green;
}

p:active {
    background: #4488f0;
}
header {
    width: calc(100% - 20px);
    height: 50px;
	background-color: #efefef;
    border-bottom: 1px solid #362311;
    padding: 10px;
    font-size: 1.2em;
    font-color: #332244;
    font-family: Arial;
    float: left;
}
article, aside {
	background-color: #ffffff;
    /* height: 400px; */
    min-height:400;
    border-bottom: 1px solid #3623aa;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 10px;
    float: right;
    padding: 10px;
}
article {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    /* clear: right; */

}

aside {
    width: 25%;
    /* float: left; */
    /* position:fixed; */
    top: 30px;
    left: 100px;
    padding: 5px;
}

aside ul {
    width: 80%;
    margin-left:10%;
    list-style-position: outside;
}
footer {
    width: calc(100% - 20px);
    height: 50px;
	background-color: #efefff;
    border: 1px solid #222222;
    color: #ffffff
    padding: 10px;
    font-size: 1.2em;
    font-color: #332244;
    font-family: Arial;
    float: left;
}
