 .grey {
 	background: grey;
 }

 .yellow {
 	background: yellow;
 }

 .red {
 	background: red;
 }

.blue {
 	background: blue;
 }


 .orange {
 	background: orange;
 }

 .green{
 	background: green;
 }