<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEEA8HUpeyr66BT6arigNEcKgqckkSDUg"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<meta charset="UTF-8">
	<title>Map</title>
</head>
<body>
<div id="container"></div>
--------------
<script> 
const instance = axios.create({
  baseURL: 'http://127.0.0.1:5000/api/v1.0/all_last_data'
  timeout: 1000,
  headers: {'X-Custom-Header': 'foobar'}
});
i = axios.get('http://127.0.0.1:5000/api/v1.0/all_last_data')
document.write(i);
</script>  

	 
</body>
</html>
