<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css</title>
	<link rel="stylesheet" type="text/css"  href='css/first.css' />

</head>
<body>
    <header> Head </header>
    <hr /> <hr />

    <aside> Если Вы определите только одно значение, второе автоматом будет равняться "center".123435
    <ul>
        <li><a href='#' > 1111 </a> </li>
        <li><a href='#' > 2222 </a> </li>
        <li><a href='#' > 3333 </a> </li>
    </ul>
    </aside>
    <article> Первое значение это позиция по горизонтали, второе - по вертикали. Верхний левый угол это 0 0. Единицы измерения могут быть как пиксели (0px 0px) или любые другие CSS единицы. Если Вы определите только одно значение, второе автоматом будет равняться 50%.

	<h1 id="first">First</h1>	
	<h1>Two</h1>
	<p class="my">Paragraf</p>
	<h2>Three</h2>
	<h3 class="my">Three</h3>
	<p class="my">Something <u>text</u></p>
	<p class="example"> Example </p>
	<b> Example </b>
	<br />
    <span>	<a href="#" class="myhref" title="opa"> hreffff </a> </span>
    <div id="textBlock"> Свойство background-position задает стартовую позицию. </div>
    <div id="textBlock"> Примечание: для правильной работы данного свойства в Firefox и Opera, свойство background-attachment должно быть "fixed"Примечание: для правильной работы данного свойства в Firefox и Opera, свойство background-attachment должно быть "fixed" </div>


    </article>
    
    <footer> Hellow world </div>
    <a href="#"> test HREF my </a> 

</body>
</html>
