{% extends "base.html" %}
{% block main %}

<div id="app"> 
    {{'{{ counter}}'}}
</div>

<script> 
var app = new Vue ({
    el:'#app',
    data : {
        mesage: 'Hi',
        counter: 0,
        typeJob: 'list',
        search: '',
    },
    methods: {
        test: function() {
            this.counter++
        },
        len(n) {return n.length},
        lookupHashtag: function() {
            $.ajax ({
        }
    },
    watch: {
        search: function() {
            this.search.length >= 2 ? this.lookupHashtag() : this.hashtags = [];
        }
    }

})
</script>


====================================





{% endblock %}
