{% extends "base.html" %}
{% block main %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
    <template v-if="status==1"> 
        <p> 111 </p>
    </template>
    <template v-else-if="status==2"> 
        <p> 222 </p>
    </template>
    <template v-else> 
        <p> False </p>
    </template>
    <div class="border border-primary" :class="{ 'bg-warning':bg, 'text-white':tx }">texty</div>
    <ul @click="func">
        <li v-for="l in ls">{{ ' {{ l }} ' }}</li>
      
    </ul >
    <ul class='bg-warning' @click="users[0].id=444">
        <li v-for="l in users">{{ ' {{ l.id }} {{l.name}}' }}</li>
    </ul>
    <div @click="get_data"> {{' {{ counter }} '}} </div>

    <ul class='bg-success'>
        <li v-for="el in all_data">{{ ' {{ el }}' }}</li>
    </ul>
</div>


<script>
var app = new Vue({
  el: '#app',
  data: {
    status: 2,
    bg: false,
    tx: false,
    counter: 1,
    all_data: [],
    ls : ['one', 'two', 'three'],
    users:[
        {id: 11, name: 'Ostap'},
        {id: 22, name: 'Yulia'}
        ]
  },
    methods: {
        func() {
        this.ls.push('four')
        },
        hight() {
        this.counter++;
        console.log(this.status);
        },
        get_data() {
            axios.get('http://127.0.0.1:5000/api/v1.0/all_last_data').then((response) => {
            console.log(response.data);
            this.all_data=response.data;
            });
        }
    }
})

</script>
====================================

<div id="app1"> 
    <div> {{ '{{ a }}' }} </div>
    <button v-on:click="a='666'"> Click </button>
</div>

<script> 
var obj={a: 3}
var app1 = new Vue ({
    el:'#app1',
    data : obj, 

})
</script>


=================================================

<div id="Vm"> 
    <ol>
        <todo-item
            v-for="el in ls"
            v-bind:todo="el"
            v-bind:key="el.id"> </todo-item> 
    </ol>
</div>

<script> 
Vue.component('todo-item', {
    props: ['todo'],
    template: '<li> {{ '{{ todo.text}}' }} </li>'
})

var vm = new Vue ({
    el:'#Vm',
    data: {
        ls : [
            {id: 0, text: "Apple" },
            {id: 1, text: "Samsung" },
            {id: 2, text: "Xiaomi" }
            ]
    }

})
</script>





{% endblock %}
