{% extends "base.html" %}
{% block main %}

<div class="block"> 
	<ul class="menu-mech">
		<li><a href="{{'usm'}}">  
			<img src="{{ url_for('static', filename='img/usm.svg') }}" height="40" /> </a> </li>
		<li><a  href="{{'kran'}}">
			<img src="{{ url_for('static', filename='img/kran.svg') }}" height="40" /> </a> </li>
		<li><a  href="{{'/'}}">
			<img src="{{ url_for('static', filename='img/sen.svg') }}" height="40" /> </a> </li>
		<!-- <li><a  href="{{'/'}}"> -->
		<!-- 	<img src="{{ url_for('static', filename='img/toyota.svg') }}" height="40" /> </a> </li> -->
		<li><a  href="{{'/'}}">
			<img src="{{ url_for('static', filename='img/wa.svg') }}" height="40" /> </a> </li>
	</ul>
	<script type="text/JavaScript"> 
		var jshttp = '{{http}}';
	</script>
</div>
<script  src="{{url_for('static', filename='js/progressbar.js')}}"></script>
{% endblock %}
