{% extends "base.html" %}
{% block main %}


<div id="app_kran">
    <p class="date-shift"> дата: <strong>{{ '{{date_shift }}' }} </strong>смена: <strong>{{ '{{shift}}' }} </strong> </p>
    <div scope="row" v-for="el in all_data">
        <div class="name-mech">  {{ '   {{ el.name }}  '}}   
            <span class="badge badge-primary"> 
                <img src="{{ url_for('static', filename='img/ship.png') }}" height="18" /> 
                {{ '   {{ el.total_180 }}  '}} </span>
            <span class="badge badge-dark"> 
                <img src="{{ url_for('static', filename='img/vagon.png') }}" height="18" />
                {{ '   {{ el.total_90 }}  '}} </span>
            <span class='time-start-finish text-right'> start<strong> {{'{{el.start }} '}}</strong> 
               finish<strong> {{'{{el.finish }} '}} </strong> </span>
        </div>
        <div class="progress">
            <div v-for="minute in el.data" class="progress-bar" role="progressbar"
            style="width: 0.1388%"   :class="{ 'bg-warning':minute.value==0, 'bg-dark':minute.value==1, 'bg-danger':minute.value==-1}"></div>
            </div>
        <div class="line-mech">
            <span class="time-mech" v-for="hour in hs"> {{ '{{ hour }} '}} </span>
        </div>
    </div>
</div>

<script type="text/JavaScript"> 
  var jshttp = '{{http}}';
</script>

<script  src="{{url_for('static', filename='js/progressbar_kran.js')}}"></script>
{% endblock %}
