{% extends "base.html" %}
{% block main %}

<div id="app">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
              <th scope="col">GPS</th>
              <th scope="col">Time</th>
          </tr>
      </thead>
      <tbody> 
        <tr scope="row" v-for="el in all_data">
            <td>  {{ '   {{ el.name }}  '}}   </td>
            <td>  {{ '   {{ el.value }}  '}}   </td>
            <td>     
                <a :href="'https://www.google.ru/maps/place/'+el.latitude+','+el.longitude"> {{'{{el.latitude}}'}}, {{' {{el.longitude}}'}} </a>
            </td> 
            <td>  {{ '   {{ el.time | DMtime }} '}}   </td>
        </tr>
    </tbody>
</table>

<p> {{ '{{ text | subStr}}'}} </p>
</div>


<script  src="{{url_for('static', filename='js/last.vue')}}"></script>
{% endblock %}
