{% extends "base.html" %}
{% block main %}
<ul> 
	<li> /api/v1.0/all_last_data  methods=["GET"] </li>
	<ol> /api/v1.0/all_last_data </ol>
	<li> /api/v1.0/get_per_shift/<strong>mechanism's id </strong> methods=["GET"] </li>
	<ol> /api/v1.0/get_per_shift/32700 </ol>
	<li> /api/v1.0/get_data/<strong>type</strong> / <strong>date shift</strong> /  <strong>number shift</strong> methods=["GET"] </li>
	<ol> /api/v1.0/get_data/usm/13.12.2019/1 </ol>
	<li> /api/v1.0/get_mech/<strong>mechanism's id</strong> methods=["GET"] </li>
	<ol> /api/v1.0/get_mech/32700 </ol>
	<li> /api/v1.0/get_post/<strong>mechanism's id</strong> methods=["GET"] </li>
	<ol> /api/v1.0/get_data/usm/13.12.2019/1 </ol>
	<li> /api/v1.0/add_post' methods=['POST'] </li>
    <ol> api/v1.0/add_get_usm </ol>

</ul>


{% endblock %}
