{% extends "base.html" %}
{% block main %}



  <div id="root">
    <google-map   :center="{lat: 42.812881, lng: 132.889579}" :zoom="16"  style="width: 100%; height: 800px" >

    <google-marker
        v-for="(item, index) in all_data"
        :key="index"
        :position="{lat: item.latitude, lng: item.longitude}"
        :title="item.name"
        :icon="item.src"
        @click="center = item.position"
        >
    </google-marker>

	<google-poligon 
		v-for="el in poligons"
		:paths="el.paths"
        >
	</google-poligon> 

    </google-map>

  </div>
  <hr />
  <div>
    <ul>
        <li> <em> <img src={{ url_for('static', filename='numbers/usm/green/1.png') }}> Уголь есть на ленте </em> </li>
        <li> <em> <img src={{ url_for('static', filename='numbers/usm/yellow/1.png') }}> Угля нет на ленте </em> </li>
        <li> <em> <img src={{ url_for('static', filename='numbers/usm/red/1.png') }}> Нет питания 3 минуты </em></li>
        <li> <em> <img src={{ url_for('static', filename='numbers/usm/gray/1.png') }}> Нет питаня 2 часа </em></li>
    </ul>
  </div>

<script  src="{{url_for('static', filename='js/vue-google-maps.js')}}"></script>
<script  src="{{url_for('static', filename='js/app_map.js')}}"></script>




{% endblock %}
