{% extends "base.html" %}
{% block main %}
<style>
#map {
    height: 700px;
}
</style>

<div id="map"></div>

<script>
let  p='ee';
url = '/api/v1.0/all_last_data';
items = [];
function getData() {
    return axios.get(url).then(response => {return response}, console.log( "Error response")) }
p=getData();
console.log(p.then());
p.then(data=> {console.log('Prom', data.data)})
p.then(data=> {items= data.data})

console.log(items);





setTimeout(()=> {console.log('run...')}, 6000)
setInterval(()=> {console.log('Go...')}, 6000)

</script>

<script src="{{url_for('static', filename='js/mechanisms_map.js')}}">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEEA8HUpeyr66BT6arigNEcKgqckkSDUg&callback=initMap" async defer></script>
{% endblock %}
