{% extends "base.html" %}
{% block main %}


<div id="app_usm">
    <p class="date-shift"> дата: <strong>{{ '{{date_shift }}' }} </strong>смена: <strong>{{ '{{shift}}' }} </strong> </p>
    <div scope="row" v-for="el in all_data">
        <div class="name-mech">  {{ '   {{ el.name }}  '}}   
            <span class="badge badge-dark">  {{ '   {{ el.time_coal }}  '}} </span>
            <span class="badge badge-info">  {{ '   {{ el.total_time }}  '}} </span>
            <span class="badge badge-primary">  {{ '   {{ el.work_time }}  '}} </span>
            <span class='time-start-finish text-right'> start<strong> {{'{{el.start }} '}}</strong> 
               finish<strong> {{'{{el.finish }} '}}</strong> </span>
        </div>
        <div class="progress">
            <div v-for="minute in el.data" class="progress-bar text-left time-progress" role="progressbar"
                :style="{width: minute.step*0.1388+'%'}"   :class="{ 'bg-warning text-dark':minute.value==0, 'bg-danger progress-bar-striped':minute.value==-1}">{{ '{{minute.time}}'}}</div>
            </div>
        <div class="line-mech">
            <span class="time-mech" v-for="hour in hs"> {{ '{{ hour }} '}} </span>
        </div>
    </div>

</div>

<script type="text/JavaScript"> 
  var jshttp = '{{http}}';
</script>

<script  src="{{url_for('static', filename='js/progressbar_usm.js')}}"></script>
{% endblock %}
