{% extends "base.html" %}
{% block main %}



  <div id="root">
    <google-map   :Center="{lat: 42.812881, lng: 132.889579}" :Zoom="16"  style="width: 100%; height: 800px" >



    <google-marker
        v-for="(item, index) in all_data"
        :key="index"
        :position="{lat: item.latitude, lng: item.longitude}"
        :title="item.name"
        :icon="item.src"
        @click="center = item.position"
        >
    </google-marker>

	<google-poligon 
		v-for="el in poligons"
		:paths="el.paths"
        :strokeColor="color" 
        :strokeOpacity="el.strokeOpacity"
        :strokeWeight="el.strokeWeight"
        :fillColor="el.fillColor"
        :fillOpacity="el.fillOpacity"
        >
	</google-poligon> 




    </google-map>





  <div v-for="el in all_data"> {{'{{el}}'}} </div>
  </div>
  -----------------------
  



<script  src="{{url_for('static', filename='js/vue-google-maps.js')}}"></script>
<script  src="{{url_for('static', filename='js/app_map.js')}}"></script>




{% endblock %}
